{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Recent Transactions</h1>
    </div>
    <div class="mb-3">
        <table class="table table-hover">
            <tr>
                <th>Date</th>
                <th>Stock</th>
                <th>Amount</th>
                <th>Shares</th>
                <th>Type</th>
            </tr>
            {% for item in transactions %}
                <tr>
                    <td>{{ item.time }}</td>
                    <td>{{ item.symbol }}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.shares }}</td>
                    <td>{{ item.transaction_type }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
